{% extends 'RTS/base.html' %}
{% block content_block %}
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-3">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle"
                             src="/media/{{ student.profile_pic| default:"common/default_user.png" }}"
                             alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">{{ student.first_name | title }}</h3>

                    <p class="text-muted text-center">Student</p>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-sm-7">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong><i class="fas fa-user"></i> Name </strong>

                    <p class="text-muted">
                        {{ student.first_name | title }} {{ student.last_name | title }}
                    </p>

                    <hr>
                    <strong><i class="fas fa-envelope"></i> Email</strong>

                    <p class="text-muted">
                        {{ student.user.email|default:"N/A" }}
                    </p>

                    <hr>
                    <strong><i class="fas fa-user-alt"></i> User Name</strong>

                    <p class="text-muted">
                        {{ student.user.username }}
                    </p>

                    <hr>
                    <strong><i class="fas fa-user-graduate"></i> Student ID</strong>

                    <p class="text-muted">
                        {{ student.student_id }}
                    </p>

                    <hr>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div>
{% endblock %}