{% extends "RTS/base.html" %}
{% load static %}
{% load my_tags %}
{% block css_block %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.css" %}">
    <style>
        .scrollable-menu {
            height: auto;
            max-height: 150px;
            overflow-x: hidden;
        }

        div.dataTables_scrollBody.dropdown-visible {
            overflow: visible !important;
        }
    </style>

{% endblock %}
{% block content_block %}
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ card_title }}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="tb" class="table text-nowrap table-striped table-hover table-responsive-sm overflow-auto">
            <thead>
            <tr>
                <th>Profile Pic</th>
                <th>Name</th>
                <th>User Name</th>
                <th>email</th>
                <th>Groups</th>
                <th>Account Status</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% if student_list %}
                {% for student in student_list %}
                    <tr>
                        <td>
                            <div class="col-md-4">
                                {% if student.profile_pic %}
                                    <img src="/media/{{ student.profile_pic }}" alt="User Avatar"
                                         class="img-size-50 mr-4 img-circle">
                                {% else %}
                                    <img src="/media/common/default_user.png" alt="User Avatar"
                                         class="img-size-50 mr-4 img-circle">
                                {% endif %}
                            </div>
                        </td>
                        <td>


                            {{ student.first_name }} {{ student.last_name }}
                            <br>
                            {{ student.student_id }}

                        </td>
                        <td>{{ student.user.username }}</td>
                        <td>{{ student.user.email }}</td>
                        <td>
                            <ol>{% for group in student.user.groups.all %}
                                <li>
                                    {{ group }}
                                </li>
                            {% endfor %}
                            </ol>
                        </td>
                        {% if student.user.is_active %}

                            <td>Active</td>
                        {% else %}
                            <td>In Active</td>
                        {% endif %}

                        <td>
                            <div class="input-group-prepend">
                                <button type="button" data-boundary="viewport" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                    Action
                                </button>
                                <div class="dropdown-menu scrollable-menu">
                                    {% if not student.user.is_active %}
                                        <form method="post"
                                              action="{% url 'accounts:active_user' student.user.id %}?next_page={{ next_page }}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Active User</button>
                                        </form>
                                    {% else %}
                                        <form method="post"
                                              action="{% url 'accounts:un_active_user' student.user.id %}?next_page={{ next_page }}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Un Active User</button>
                                        </form>
                                    {% endif %}

                                    <a class="dropdown-item"
                                       href="{% url 'accounts:edit_user' student.user.id %}?next_page={{ next_page }}">Edit
                                        User</a>
                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="{% url 'accounts:edit_student' student.id %}">Edit
                                        Student</a>
                                    {% if student.user|has_group:"student" %}
                                        <form method="post"
                                              action="{% url 'accounts:remove_student_group' student.user.id %}?next_page={{ next_page }}">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Remove Student Group
                                            </button>
                                        </form>


                                    {% else %}
                                        <a class="dropdown-item"
                                           href="{% url 'accounts:create_student_with_existing_user' student.user.id %}?next_page={{ next_page }}">Add
                                            Student</a>
                                    {% endif %}
                                    <a class="dropdown-item"
                                       href="{% url 'accounts:student_profile' student.id %}">
                                        Student Profile</a>
                                </div>
                            </div>
                        </td>


                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center text-info"> No Record Found</td>
                </tr>
            {% endif %}

            </tbody>
        </table>

    </div>

{% endblock %}


{% block script_block %}
    <script>
        $(function () {
            $('#tb').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": false,
                "autoWidth": false,
                "scrollX": false,
            });
        });
        $('#tb').on('show.bs.dropdown', function () {
            $('.dataTables_scrollBody').addClass('dropdown-visible');
        })
            .on('hide.bs.dropdown', function () {
                $('.dataTables_scrollBody').removeClass('dropdown-visible');
            });
    </script>

{% endblock %}
