{% extends "RTS/base.html" %}
{% load static %}
{% block css_block %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.css" %}">
    <style>
    .scrollable-menu {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}
    </style>

{% endblock %}
{% block content_block %}
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ card_title }}</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="tb" class="table  table-striped table-hover table-responsive-sm overflow-auto">
            <thead>
            <tr>
                <th>User Name</th>
                <th>email</th>
                <th>Groups</th>
                <th>Account Status</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% if user_list %}
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <ol>{% for group in user.groups.all %}
                                <li>
                                    {{ group }}
                                </li>
                            {% endfor %}
                            </ol>
                        </td>
                        {% if user.is_active %}

                            <td>Active</td>
                        {% else %}
                            <td>Un Active</td>
                        {% endif %}

                        <td>
                            <div class="input-group-prepend">
                                <button type="button" data-boundary="viewport" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Action
                                </button>
                                <div class="dropdown-menu scrollable-menu">
                                    <form method="post" action="{% url 'accounts:active_user' user.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Active User</button>
                                    </form>
                                    <form method="post" action="{% url 'accounts:un_active_user' user.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Un Active User</button>
                                    </form>
                                    <form method="post" action="{% url 'accounts:remove_admin_group' user.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Remove Admin Group</button>
                                    </form>
                                     <form method="post" action="{% url 'accounts:remove_faculty_group' user.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Remove Faculty Group</button>
                                    </form>
                                     <form method="post" action="{% url 'accounts:remove_student_group' user.id %}">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="submit">Remove Student Group</button>
                                    </form>
                                    <a class="dropdown-item" href="{% url 'accounts:edit_user' user.id %}">Edit User</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'accounts:create_admin_with_existing_user' user.id %}">Add Admin</a>
                                    <a class="dropdown-item" href="{% url 'accounts:create_faculty_with_existing_user' user.id %}">Add Facculty</a>
                                    <a class="dropdown-item" href="{% url 'accounts:create_student_with_existing_user' user.id %}">Add Student</a>
                                </div>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center text-info"> No Record Found</td>
                </tr>
            {% endif %}

            </tbody>
        </table>

    </div>

{% endblock %}


{% block script_block %}
    <script>
        $(function () {
            $('#tb').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "scrollX": true,
            });
        });
    </script>

{% endblock %}
